<!DOCTYPE html>
<html>
    <head>
        <title>Django REST Freamwork</title>
    </head>
    <body>
        <h1>Hi There !!!</h1>
        <p>Type following in the url to check<br><br>
        Api Overview : 127.0.0.1:8000/api<br>
        Task List : 127.0.0.1:8000/api/task-list<br>
        Task Details : 127.0.0.1:8000/api/task-detail/1 /* Where 1 is the first task. similarly type 2 at the end if you want to see the detail of task 2 and so on. */<br>
        Task Create : 127.0.0.1:8000/api/task-create/<br>
        Task Update : 127.0.0.1:8000/api/task-update/1<br>
        Task Delete : 127.0.0.1:8000/api/task-delete/1</p>
    </body>
</html>